firebase_admin==6.5.0
pandas==1.5.3
psutil==5.9.0
python-dotenv==1.0.1
streamlit==1.20.0
streamlit_authenticator==0.2.1
streamlit_option_menu==0.3.2
numpy==1.21.0
--only-binary=numpy
protobuf==3.20.0
setuptools==65.5.0



